
<div>
  <h3 >Formulaire</h3>
  <form [formGroup]="simpleForm"  (ngSubmit)="getValues(simpleForm.value)" novalidate>
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="email"  class="form-control" formControlName="name" id="name" placeholder="Nom">
    </div>
    <div *ngIf="m.name.touched && m.name.invalid" class="alert alert-danger">
      <div *ngIf="m.name.errors?.required">Le nom est requis</div>
    </div>

    <div class="form-group">
      <label for="lastName">Prenom</label>
      <input type="email"  class="form-control mb2" formControlName="lastName" id="lastName" placeholder="Prenom">
    </div>
    <div *ngIf="m.lastName.touched && m.lastName.invalid" class="alert alert-danger">
      <div *ngIf="m.lastName.errors?.required">Le nom de famille est requis</div>
    </div>

    <div class="form-group">
      <label for="phone">Telephone</label>
      <input type="email"  class="form-control" formControlName="phone" name="phone" id="phone" placeholder="00687588744">
    </div>
    <div *ngIf="m.phone.touched && m.phone.invalid" class="alert alert-danger">
      <div *ngIf="m.phone.errors?.required">Entrez s'il vous plaît votre numéro de téléphone</div>
      <div *ngIf="m.phone.errors?.pattern">Le numéro de mobile est à 10 chiffres et uniquement des numéros numériques</div>
    </div>

    <div class="form-group">
      <label for="region">Région</label>
      <select class="form-control"  formControlName="region" id="region">
        <option *ngFor="let region of regions" [value]="region.nom">{{region.nom}}</option>
      </select>
    </div>
    <div class="d-grid mt-3">
      <button class="btn btn-success" [disabled]="!simpleForm.valid" type="submit">Ajouter utilisateur</button>
    </div>
  </form>
</div>
